{% extends 'base.html' %}

{% block title %}
    Set | New | Password
{% endblock %}

{% block content %}
<form class="setting_pass" action="" method="post">
    {% csrf_token %}
    <h5>Change Password</h5>

    <label>{{ change_password_form.old_password.label }}</label>
    {{ change_password_form.old_password }}


    <label>New password</label>
    {{ change_password_form.new_password1 }}

    

    <label>{{ change_password_form.new_password2.label }}</label>
    {{ change_password_form.new_password2 }}

    {% if errorOldPass %}
        <p style="color: #fff; text-align: center; font-weight: bold; margin: 20px 0 -60px 0;" class="text-danger">Your old password was entered incorrectly.<br> Please enter it again.</p>
    {% endif %}

    {% if lenPass %}
        <p style="color: #fff; text-align: center; font-weight: bold; margin: 20px 0 -60px 0;" class="text-danger">{{ lenPass }}</p>
    {% endif %}

    {% if complexPass %}
        <p style="color: #fff; text-align: center; font-weight: bold; margin: 20px 0 -40px 0;" class="text-danger">{{ complexPass }}</p>
    {% elif didntMatch %}
        <p style="color: #fff; text-align: center; font-weight: bold; margin: 20px 0 -40px 0;" class="text-danger">{{ didntMatch }}</p>
    {% endif %}

    <button type="submit" class="button1_pass">Save</button>
</form>


<script>

    let form_inputs = document.getElementsByTagName('input')
    for (const key in form_inputs) {
       form_inputs[key].className = 'edIn1'
    }

    let form_labels = document.getElementsByTagName('label')
    for (const key in form_labels) {
       form_labels[key].className = 'labelForm'
    }


</script>
{% endblock %}