{% extends 'base.html' %}

{% block title %}
    Modify | Url
{% endblock %}

{% block content %}

	<form class="add" method="post">
		{% csrf_token %}
		<h5>Modify URL</h5>
		{% if form.non_field_errors %}
			<div class="text-danger text-center">
				{{form.non_field_errors}}
			</div>
		{% endif %}
		{{form.user}}
		<div>
			<label>{{ form.name.label }}</label>
			{{ form.name }}
			{% if form.mame.errors %}
					<div class="text-danger text-center" style="font-weight: bold;">{{ form.mame.errors }}</div>
			{% endif %}

		</div>

		<div>
			<label>{{ form.url.label }}</label>
			{{ form.url }}
			{% if form.url.errors %}
				<div class="text-danger text-center" style="font-weight: bold;">{{ form.url.errors }}</div>
			{% endif %}
		</div>

		<div>
			<label>{{ form.checking_length.label }}</label>
			{{ form.checking_length }}
			{% if form.checking_length.errors %}
				<div class="text-danger text-center" style="font-weight: bold;">{{ form.checking_length.errors }}</div>
			{% endif %}
		</div>

		<div>
			<label>{{ form.updating_time.label }}</label>
			{{ form.updating_time }}
			{% if form.updating_time.errors %}
				<div class="text-danger text-center" style="font-weight: bold;">{{ form.updating_time.errors }}</div>
			{% endif %}
		</div>

		<button class="button1_insert" type="submit">Save</button>
	</form>
	<script>
		let allInp = document.getElementsByTagName('input')
		for (const key in allInp) {
			allInp[key].className = 'edIn1'
		}

		let allLabel = document.getElementsByTagName('label')
		for (const key in allLabel) {
			allLabel[key].className = 'labelForm'
		}
	</script>
{% endblock %}