{% extends 'base.html' %}

{% block title %}
    Create | Url Fetch
{% endblock %}

{% block content %}
        <form class="add" method="post">
            {% csrf_token %}
            <h5>Insert New URL</h5>
            {% if form.non_field_errors %}
                <div class="text-danger text-center">
                    {{form.non_field_errors}}
                </div>
            {% endif %}
            <div>
                <label class="labelForm">Name</label>
                {{form.name}}
                <p class="text-danger text-center" style="font-weight: bold;">{{form.name.errors}}</p>        
            </div>
    
            <div>
                <label class="labelForm">Url</label>
                {{form.url}}
                <p class="text-danger text-center" style="font-weight: bold;">{{form.url.errors}}</p>
            </div>
    
            <div>
                <label class="labelForm">Check Length</label>
                {{form.checking_length}}
                <p class="text-danger text-center" style="font-weight: bold;">{{form.checking_length.errors}}</p>
            </div>
    
            <div>
                <label class="labelForm">Update Time</label>
                {{form.updating_time}}
                <p class="text-danger text-center" style="font-weight: bold;">{{form.checking_length.errors}}</p>
            </div>
    
            <button class="button1_insert" type="submit">Add Url</button>
        </form>



{% endblock %}