{% extends 'base.html' %}

{% block title %}
	Password | reset | request 
{% endblock title %}

{% block content %}
<div class="log">
    <form action="" method="POST">
        {% csrf_token %}
        <h5>E-mail</h5>
        {{ form.email }}
        <button id="bt1" type="submit" class="button1" style="margin-top: 20px;">
            <a href="{% url 'password_reset_done' %}"></a>
            Reset password
        </button>
    </form>
</div>

<script>

    let label = document.getElementsByTagName('label')
    for (const key in label) {
        label[key].className = 'logLabel'
    }

    let allin = document.getElementsByTagName('input')
    for (const key in allin) {
        allin[key].className = 'logInput'
        allin[key].style.marginTop = '90px'
        allin[key].placeholder = 'Enter your Email . . .'
    }

</script>
{% endblock content %}