{% extends 'base.html' %}

{% block title %}
	Reset | Password 
{% endblock title %}

{% block content %}
	<form action="" method="POST" class="setting_pass_reset">
        {% csrf_token %}
        <h5>Set new password</h5>
        <label for=""> {{ form.new_password1.label }} </label>
        {{ form.new_password1 }}
        <label for=""> {{ form.new_password2.label }} </label>
        {{ form.new_password2 }}

        <span id="sp1">{{ form.new_password2.errors }}</span>

        <button type="submit" class="button1_pass_rest"><a href="{% url 'password_reset_complete' %}"></a> Reset password </button>

    </form>


    <script>

        let allIn = document.getElementsByTagName('input')
        for (const key in allIn) {
            allIn[key].className = 'edIn1'

        }

        let form_labels = document.getElementsByTagName('label')
        for (const key in form_labels) {
           form_labels[key].className = 'labelForm'
        }


        let allspan = document.getElementById('sp1').getElementsByTagName('ul')
        for (const key in allspan) {
            allspan[key].style.listStyle = 'none'
            allspan[key].style.fontWeight = 'bold'
            allspan[key].style.marginBottom = '-80px'
            allspan[key].className = 'text-danger'
        }


    </script>
{% endblock content %}