{% extends 'base.html' %}
{% block title %}
	Password | Send | done
{% endblock title %}	
{% block content %}



	<button id="bt1" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	</button>
  
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title" style="color: #4caf50;" id="exampleModalLabel">success</h4>
			  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
			  <p style="font-weight: bold;" class="text-dark">An email has been sent with instructions to reset your password.</p>
			</div>
			<div class="modal-footer">
			  <button type="button" class="button1" data-bs-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
  
	  
<script>
	window.onload = function(){
		document.getElementById('bt1').click();
	}

</script>


{% endblock content %}